@media (min-width: 320px) {
    .Container {
        margin: 80px 15px 30px 15px;
    }
}

@media (min-width: 576px) {
    .Container {
        margin: 80px 25px 30px 25px;
    }
}

@media (min-width: 1200px) {
    .Container {
        width: 1140px;
        margin: 80px auto 40px;
    }
}