.Img {
    width: 100%;
    flex-grow: 1;
}

.FilmListItem {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.FilmListItem:hover {
    cursor: pointer;
    background: #90CAF9;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}